<div class="bg-image" style="background-image:url('https://media.istockphoto.com/id/1133692578/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B9%82%E0%B8%96%E0%B8%87%E0%B9%80%E0%B8%AB%E0%B8%95%E0%B8%B8%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%93%E0%B9%8C%E0%B8%99%E0%B8%B4%E0%B8%97%E0%B8%A3%E0%B8%A3%E0%B8%A8%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%80%E0%B8%9A%E0%B8%A5%E0%B8%AD%E0%B8%9E%E0%B8%B7%E0%B9%89%E0%B8%99%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B8%82%E0%B8%AD%E0%B8%87%E0%B8%98%E0%B8%B8%E0%B8%A3%E0%B8%81%E0%B8%B4%E0%B8%88%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B9%81%E0%B8%AA%E0%B8%94%E0%B8%87%E0%B8%AA%E0%B8%B4%E0%B8%99%E0%B8%84%E0%B9%89%E0%B8%B2-%E0%B9%82%E0%B8%A5%E0%B8%81%E0%B8%AB%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B9%81%E0%B8%AA%E0%B8%94%E0%B8%87%E0%B8%AA%E0%B8%B4%E0%B8%99%E0%B8%84%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%B2%E0%B8%99%E0%B8%B2%E0%B8%8A.jpg?s=612x612&w=0&k=20&c=R5a8F8S3RT2DXbL-gLy32GKgQu7PFThqy_GLLmKi8Mg=');">
<div class="services-container">
  <h2><strong>Our Services</strong></h2>
  <div class="services-list">
    <div class="service-item">
      <h3>Room Booking</h3>
      <img src="..\assets\images\luxuriousroom.jpg"  class="w3-left w3-circle w3-margin-right" style="width:100%">
      <p>Book a room at our hotel using our online booking form. Choose your check-in and check-out dates, number of guests, and room type.</p>
      <a [routerLink]="['/bookings']" class="btn btn-primary">Book Now</a>
    </div>
    <div class="service-item">
      <h3>Room Service</h3>
      <img src="..\assets\images\sevicesof room.jpg"  class="w3-left w3-circle w3-margin-right" style="width:100%">
      <p>Order food and beverages from our room service menu. Choose from a variety of items and add them to your cart.</p>
      <a routerLink="/room-service" class="btn btn-primary">Order Now</a>
    </div>
    <div class="service-item">
      <h3>Housekeeping Requests</h3>
      <img src="..\assets\images\keeping.jpg"  class="w3-left w3-circle w3-margin-right" style="width:100%">
      <p>Request housekeeping services, such as cleaning, towel replacement, or bed linen change, using our online form.</p>
      <a routerLink="/housekeeping" class="btn btn-primary">Request Now</a>
    </div>
    <div class="service-item">
      <h3>Concierge Services</h3>

      <img src="..\assets\images\concierge.jpg"  class="w3-left w3-circle w3-margin-right" style="width:100%">
      <p>Explore nearby attractions, restaurants, and events using our concierge services. We can help you plan your itinerary and make reservations.</p>
      <a routerLink="/concierge" class="btn btn-primary">Learn More</a>
    </div>
    <div class="service-item">
      <h3>Check-in and Check-out</h3>
      <img src="..\assets\images\checkin.jpg"  class="w3-left w3-circle w3-margin-right" style="width:100%">
      <p>Check-in and check-out online to save time. Fill in your name, room number, and payment details to complete the process.</p>
      <a routerLink="/checkin" class="btn btn-primary">Check-in Now</a>
    </div>
  </div>
</div>
</div>
