<!--<p>check-in works!</p>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Check In</h3>
      <form (ngSubmit)="onCheckInSubmit()">
        <div class="form-group">
          <label for="name">Guest Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="checkInData.guestName" name="name" required>
        </div>
        <div class="form-group">
          <label for="roomNumber">Room Number</label>
          <input type="text" class="form-control" id="roomNumber" [(ngModel)]="checkInData.roomNumber" name="roomNumber" required>
        </div>
        <div class="form-group">
          <label for="checkInDate">Check In Date</label>
          <input type="date" class="form-control" id="checkInDate" [(ngModel)]="checkInData.checkInDate" name="checkInDate" required>
        </div>
        <button type="submit" class="btn btn-primary">Check In</button>
      </form>
    </div>
    <div class="col-md-6">
      <h3>Check Out</h3>
      <form (ngSubmit)="onCheckOutSubmit()">
        <div class="form-group">
          <label for="guestName">Guest Name</label>
          <input type="text" class="form-control" id="guestName" [(ngModel)]="checkOutData.guestName" name="guestName" required>
        </div>
        <div class="form-group">
          <label for="roomNumber">Room Number</label>
          <input type="text" class="form-control" id="roomNumber" [(ngModel)]="checkOutData.roomNumber" name="roomNumber" required>
        </div>
        <div class="form-group">
          <label for="checkOutDate">Check Out Date</label>
          <input type="date" class="form-control" id="checkOutDate" [(ngModel)]="checkOutData.checkOutDate" name="checkOutDate" required>
        </div>
        <button type="submit" class="btn btn-primary">Check Out</button>
      </form>
    </div>
  </div>
</div>-->

