
<div id="design-cast">
  <br><br>
  <h4>Suites</h4>

 <div class="member">
  <div class="name">The Junior king
     <img src="..\assets\images\bed.jpg" class="img-responsive img-thumbnail" style="height: 30%;" />
     <div class="name">
         <br />This one-bedroom suite offers a king bed and a separate portioned parlor room that closes for privacy</div>
         </div>
 </div>

 <div class="member">
  <div class="name">Luxe Two Queens
     <img src="..\assets\images\luxe queen.jpg" class="img-responsive img-thumbnail" style="height: 60%;"/>

         <br />Family Grand Luxe Two Queens features an open-concept room that provides a comfortable sitting area, two Queen beds, and Butler’s pantry. </div>
 </div>
 <div class="member">
  <div class="name">One Bedroom Suite King
     <img src="..\assets\images\bedroom.jpg" class="img-responsive img-thumbnail"  />

         <br /> This stately and expansive suite offers a full bedroom with a king size bed, large master bath, and a spacious living room with powder room.  </div>
 </div>
</div>
