<nav class="navbar navbar-dark bg-info">
  <a class="navbar-brand" routerLink="/"><strong> Sona Hotel</strong></a>

  <div class="form-inline">


    <button class="btn warning" [routerLink]="['/home']"><i class="fa fa-fw fa-home"></i>Home</button>&nbsp;
    <button class="btn warning" [routerLink]="['/login']"><i class="fa fa-fw fa-user"></i>login</button>&nbsp;


    <ul>
      <li class="dropdown">
        <a href="#" class="dropbtn">Rooms</a>
          <div class="dropdown-content">
            <a href="#" [routerLink]="['/rooms']">Deluxe</a>
            <a href="#" [routerLink]="['/suites']">Suites</a>
            <a href="#" [routerLink]="['/casual']">Standard</a>
          </div>
      </li>
    </ul>
    <button class="btn warning" [routerLink]="['/addroom']">Add Room</button>&nbsp;

    <button class="btn warning" [routerLink]="['/status']">status</button>&nbsp;
    <button class="btn warning" [routerLink]="['/guests']">Guests</button>&nbsp;
    <button class="btn warning" [routerLink]="['/bookings']">Bookings</button>&nbsp;
    <button class="btn warning" [routerLink]="['/service']">Services</button>&nbsp;
    <button class="btn warning" [routerLink]="['/aboutus']">Aboutus</button>&nbsp;

    <button class="btn warning" [routerLink]="['/contactus']"><i class="fa fa-fw fa-envelope"></i>Contactus</button>&nbsp;


  </div>
  <div class="form-inline">
    <div class="text-white" >hello, Admin</div>
    <button class="btn btn-warning my-2 my-sm-0">Logout</button>
  </div>



</nav>
