<div class="bg-image" style="background-image:url('https://media.istockphoto.com/id/1312418673/photo/security-cyber-login-computer-digital-internet-password-privacy-solution-technology-attack.jpg?s=612x612&w=0&k=20&c=9y7rqeb2tSdJKhtDecn0P-qrslEF_yP8D4Ft7w1o_bs='); height: 600px;">
  <div class="container">
    <div class="right">
    <div class="row justify-content">
      <div class="col-md-6">
  <br><br>
<br><br>
<br>
                <h1 class="justify-content-center">Welcome </h1>
                <div class="alert alert-success" role="alert">
                    Doesn't Have An Account
                    <a [routerLink]="['/register']">Register Here</a>

                </div>
                <form action="" >
                <div class="form-group">

                   Email:<input type="email" class="form-control" placeholder="Enter Email" Name="email">
                    Password:<input type="password" class="form-control" placeholder="Enter your password">

                 </div>
                 <div>
                 <a href=""> Forget password??</a>
                 </div>
                 <br>

                 <button class="btn btn-info my-2 my-sm-0" (click)="login()">Login</button>

                </form>
            </div>
            </div>
            
      </div>
  </div>


</div>

