<div class="bg-image" style="background-image:url('https://thumbs.dreamstime.com/z/registration-online-membership-network-internet-business-technology-concept-104512007.jpg');">
<div class="container">

  <div class="row justify-content-end">
    <div class="col-md-6">
      <div class="card shadow-lg p-5 mt-5 mb-5">


              <h1 class="justify-content-center">Welcome Here</h1>
              <div class=" border-radius: 5px;"></div>
              <div class="alert alert-success" role="alert">
                  Already have Account
                  <a href="/login" class="text-primary" style="cursor:pointeer">Login here</a>
              </div>
              <form action="/" >
              <div class="form-group">
                  Name:<input type="text" class="form-control" placeholder="Enter Name" Name="Name">
                 Email:<input type="email" class="form-control" placeholder="Enter Email" Name="email">
                  Password:<input type="password" class="form-control" placeholder="Enter your password">
                  Door-No:<input type="text" class="form-control" placeholder="Enter door-no">
                  City:<input type="text" class="form-control" placeholder="Enter city">
                  District:<input type="text" class="form-control" placeholder="Enter district">
                  State:<input type="text" class="form-control" placeholder="Enter state">
                  Phone.No<input type="text" class="form-control" placeholder="Enter mobile no">
               </div>
               <button class="btn btn-info my-2 my-sm-0" (click)="signup()">Create Account</button>
            </form>
          </div>
      </div>
      </div>
  </div>
</div>


