
<div id="design-cast">
  <br><br>
  <h4>Guests Rooms</h4>

 <div class="member">
  <div class="name">The king
     <img src="..\assets\images\room11.jpg" class="img-responsive img-thumbnail" style="height: 30%;" />
     <div class="name">Name
         <br />This classic room provides a spacious, comfortable layout that is resplendent with luxurious appointments and elegant furnishings</div>
         </div>
 </div>
 <br><br><br>

 <div class="member">
  <div class="name">The Deluxe King
     <img src="..\assets\images\room1.jpg" class="img-responsive img-thumbnail" style="height: 60%;"/>

         <br />The Deluxe King is a larger version of the Plaza King, providing additional living space for greater comfort, as well as space for an extra roll-in bed upon requests</div>
 </div>
 <div class="member">
  <div class="name">The Deluxe Queen
     <img src="..\assets\images\queen.jpg" class="img-responsive img-thumbnail"  />

         <br /> The Grand Luxe Queen Room an open-concept room that provides a comfortable sitting area, Queen Bed, and Butler’s pantry. </div>
 </div>
</div>
