<p>housekeeping works!</p>
<!--<h2>Housekeeping Requests</h2>

<table>
  <thead>
    <tr>
      <th>Room Number</th>
      <th>Guest Name</th>
      <th>Request Type</th>
      <th>Details</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of housekeepingRequests">
      <td>{{ request.roomNumber }}</td>
      <td>{{ request.guestName }}</td>
      <td>{{ request.requestType }}</td>
      <td>{{ request.details }}</td>
      <td>{{ request.status }}</td>
    </tr>
  </tbody>
</table>-->
