<div id="design-cast">
  <br><br>
  <h4>Standard Rooms</h4>

 <div class="member">
  <div class="name">The Single
     <img src="..\assets\images\room62.jpg" class="img-responsive img-thumbnail" style="height: 30%;" />
     <div class="name">Name
         <br />A room assigned to one person.</div>
         </div>
 </div>


 <div class="member">
  <div class="name">The Double
     <img src="..\assets\images\room42.jpg" class="img-responsive img-thumbnail" style="height: 60%;"/>

         <br /> A room assigned to two people.</div>
 </div>
 <div class="member">
  <div class="name">The Triple
     <img src="..\assets\images\room3.jpg" class="img-responsive img-thumbnail"  />

         <br /> A room that can accommodate three persons and has been fitted with three twin beds, one double bed and one twin bed or two double beds.</div>
 </div>
 <div class="member">
  <div class="name">The Twin
     <img src="..\assets\images\room8.jpg" class="img-responsive img-thumbnail" style="height: min-content;" />

         <br /> A room that can accommodate three persons and has been fitted with three twin beds, one double bed and one twin bed or two double beds.</div>
 </div>
 <br><br>
 <div class="member">
  <div class="name">The Standard King
     <img src="..\assets\images\room2.jpg" class="img-responsive img-thumbnail"  />

         <br />A room with a king-sized bed. </div>
 </div>
 <div class="member">
  <div class="name">The Standard Queen
     <img src="..\assets\images\room4.jpg" class="img-responsive img-thumbnail"  />

         <br />A room with a queen-sized bed.</div>
 </div>
</div>

