<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Address</h4>
        <p>Chilakaluripet,Andhra Pradesh<br>
        pin code 522616, India</p>
      </div>
      <div class="col-md-4">
        <h4>Google Maps</h4>
        <p>Chilakaluripet, AndhraPradesh<br>
        pin code 522616, India</p>
      </div>
      <div class="col-md-4">
        <h4>Social Links</h4>
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="social-links">
                  <ul>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
