<section class="aboutus" id="Aboutus">



  <!--<div class="about-text">
    <div class="justify-content-center">
      <div class="container">
        <br><br>
        <h1 class="justify-content-center">Aboutus</h1>
        <div class="about-us">

          <p class="row justify-content-center">
            <br><br><br><br>
            Our hotel is a modern, user-friendly platform that makes it easy to manage your hotel operations. With our system, you can manage ypour rooms, bookings, and guests, all from one centralized location.
      Our is built using the new latest technologies
            Customer can either make booking in advance, or he can directly Check-In. For the
            convenience of Administration, we have provided facility to generate report of transactions    made interms of check-in & check-out, bookings by day or specified timespan.
      <br><br><br>
          </p>
          <p class="row justify-content-center">
            It provides User to easily search room’s availability, category & easy updating of the room’s
            records. The room numbers and cost per stay can be changed. Room’s category such as deluxe,
            semideluxe can be edited and accordingly floor can be set.
          </p>
             <p class="row justify-content-center">Lifestyle luxury resorts are branded hotels that appeal to a guest with lifestyle or personal
              image in specific locations. They are typically full-service and classified as luxury. A key
              characteristic of lifestyle resorts is focus on providing a unique guest experience as opposed
              to simply providing lodging. Lifestyle luxury resorts are classified with
              a Five Star hotel rating depending on the country and local classification standards</p>

        </div>
      </div>

  </div>
</div>-->


<!--<div class="container">
  <div class="bg-image" style="background-image:url('https://cdn.pixabay.com/photo/2017/03/09/06/30/pool-2128578__340.jpg');height: 500px;;">
  <h1>Welcome to Our Hotel</h1>
  <p>We are a top-rated hotel that offers exceptional service and comfortable accommodations for our guests. Whether you are visiting for business or pleasure, we are dedicated to making your stay enjoyable and memorable.</p>
  <p>Our rooms are spacious and well-appointed, and feature the latest in modern amenities. We offer a range of room types to suit your needs, from standard rooms to luxurious suites.</p>
  <p>In addition to comfortable accommodations, our hotel features a range of facilities and services that are designed to make your stay as convenient and relaxing as possible. From our on-site restaurant and bar to our fitness center and swimming pool, we have everything you need to enjoy your time with us.</p>
  <p>So why wait? Book your stay at our hotel today and experience the ultimate in comfort and luxury.</p>
</div>
</div>


</section>-->
<br>
<h2 class="justify-content-center"><strong>Aboutus</strong></h2>

<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <div fxLayout="row" fxLayoutAlign="space-around center">
     <p fxFlex="40">Customer can either make booking in advance, or he can directly Check-In. For the
     convenience of Administration, we have provided facility to generate report of transactions
     made interms of check-in & check-out, bookings by day or specified timespan.</p>
     <img src="..\assets\images\hotel-img1.jpg" class="hotel">
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
     <img src="..\assets\images\hotel-img2.jpg" class="hotel">
     <p fxFlex="40">It provides User to easily search room’s availability, category & easy updating of the room’s
     records. The room numbers and cost per stay can be changed. Room’s category such as deluxe,
     semideluxe can be edited and accordingly floor can be set.</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
      <p fxFlex="40">Lifestyle luxury resorts are branded hotels that appeal to a guest with lifestyle or personal
      image in specific locations. They are typically full-service and classified as luxury. A key
      characteristic of lifestyle resorts is focus on providing a unique guest experience as opposed
      to simply providing lodging. Lifestyle luxury resorts are classified with
      a Five Star hotel rating depending on the country and local classification standards</p>
      <img src="..\assets\images\hotel-img3.png" class="hotel">
  </div>
</div>
</section>


